:root {
    --dark-blue: #264653;
    --teal: #2A9D8F;
    --mustard: #E9C46A;
    --orange: #F4A261;
    --burnt-orange: #E76F51;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

body {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cover-pic {
    position: relative;
    width: 100%;
    height: 80vh; /* Reduce height to avoid scrolling */
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1), rgba(38, 70, 83, 1));
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin-top: 300px;
    padding: 20px;
    color: var(--mustard);
}

.title h4 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: -10px;
}

.title h2 {
    font-size: 38px;
    font-weight: 700;
}

.title h2 span {
    color: var(--burnt-orange);
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.contacts div {
    text-align: center;
}

.contacts a {
    text-decoration: none;
    color: var(--mustard);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card {
    color: var(--mustard);
    border: 1px solid var(--teal);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    margin-top: 100px;
    max-width: 700px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
